body {
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #262626;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #4d4d4d;
}

.button-bar {
    padding: 10px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
}

.button-bar button {
    background-color: #4d4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.content-label {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #4d4d4d;
}

.store-item {
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #ddd;
}

.store-item img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: #aaa;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}