.popup-container {
    position: fixed; /* Overlay the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's on top of other elements */
}

.confirm-button {
    background-color: #4CAF50; /* Example color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.cancel-button {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Hand cursor on hover */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Transition */
}

.cancel-button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
}