/* Default text size */
.menu-row{
    margin-top:  2px;
    margin-bottom: 2px;
}
.btn {
    font-size: 12px;
}

/* Smaller text size for viewports less than 600px wide */
@media (max-width: 400px) {
    .btn {
        font-size: 8px !important;
    }
}
