/* Default text size */
.btn {
    font-size: 12px;
}

/* Smaller text size for viewports less than 600px wide */
@media (max-width: 400px) {
    .btn {
        font-size: 5px !important;
    }
}

.no-wrap{
    flex-wrap: nowrap !important;
}

.reduced-line-height {
    line-height: 0.8;
}

