.quantity-selector {
    display: flex;
    max-width: 8rem;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
}

.quantity-selector .form-control-sm {
    width: 100% !important;

}


.input-group .btn {
    z-index: 0;
}