{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">歐德皮克 Order Picker</div>
    <div class="store-list">
        <div class="store">
            <img src="https://via.placeholder.com/124x124" />
            <div class="store-info">
                <h2>享樂早餐店</h2>
                <p>老闆說復興崗的孩子飲料大杯中價，免費升級。</p>
            </div>
        </div>
        <!-- Repeat the .store div for each store -->
    </div>
    <div class="footer">©️ 2024 2c04 & Co. IMS All Right Preserved.</div>
</div>
{% endblock %}