<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="container bg-black rounded-lg overflow-hidden">
        <div class="row px-6 py-4">
            <div class="col-8">
                <h1 class="text-blue-500 font-bold text-4xl">歐德皮克</h1>
                <h2 class="text-blue-500 text-xl">Order Picker</h2>
            </div>
            <div class="col-4 text-white">
                <p>H0110W {{username}}</p>
                </div>
                </div>
                {% if message %}
                <div>
                    <div class="row bg-gray-800 rounded-lg px-4 py-3">
                        <div class="col-12 d-flex flex-row gap-2">
                            <span>{{message}}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="bg-gray-800 rounded-lg px-4 py-3">
                    <div class="flex flex-row justify-between space-x-2">
                        <div class="flex-grow bg-white rounded-lg px-2 py-1 flex items-center">
                            <p class="text-black text-xs">還沒有想到 1</p>
                        </div>
                        <div class="flex-grow bg-gray-200 rounded-lg px-2 py-1 flex items-center">
                            <p class="text-black text-xs">還沒有想到 2</p>
                        </div>
                        <div class="flex-grow bg-gray-200 rounded-lg px-2 py-1 flex items-center">
                            <p class="text-black text-xs">還沒有想到 3</p>
                        </div>
                    </div>
                </div>

        <div class="row px-6 py-4">
            <h3 class="text-white text-2xl">功能/店家 清單</h3>
        </div>

        {% for store in stores %}
        <div class="row px-6 py-4">
            <div class="col-12">
                <a href="/order?store={{ store.name }}" class="text-decoration-none">
                    <div class="bg-gray-700 rounded-lg p-4">
                        <div class="row">
                            <div class="col-4">
                                <img class="w-full h-auto" 
                                src="{{ url_for('static', filename='images/' + store.name + '.png') }}" 
                                alt="{{ url_for('static', filename='alt/' + 'store' + '.png')}}"> 
                            </div>
                            <div class="col-8">
                                <h4 class="text-white text-2xl">{{ store.name }}</h4>
                                <p class="text-white text-lg">{{ store.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

        <div class="row px-6 py-4">
            <div class="col-12">
                <p class="text-white text-lg">©️ 2024 2c04 & Co. IMS All Right Preserved.</p>
            </div>
        </div>
    </div>
</body>

</html>