<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-dark"></body>
<div class="card p-1 shadow bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 bg-dark">
                <!-- Login form goes here -->
                <h2 class="text-center font-weight-bold mb-6 text-white">歡迎來到 歐德皮克</h2>
                <h6 class="text-right">復興岡站</h6>
                <h4 class="text-info">準備點餐了嗎?</h4>
                <div class="mb-4">
                    <input type="email" placeholder="別打了...這個沒用" class="form-control bg-dark">
                    <input type="password" placeholder="這個也沒用..." class="form-control mt-2 bg-dark">
                    <a href="#" class="text-primary text-sm float-right mt-2">忘記密碼?(雖然也沒什麼密碼)</a>
                </div>
                <button class="btn btn-dark btn-block py-2 mt-6">去用line登入</button>
                <p class="text-center mt-4 text-muted">Or Login with</p>
                <div class="d-flex justify-content-center mt-4 border border-2 border-success py-4 rounded">
                    <a href="{{ line_oauth_url }}">
                        <i class="lni lni-line h1">LINE login</i> 
                    </a>
                </div>
                <p class="text-center mt-6 text-sm text-muted">Don't have an account? 
                    <a href="#" class="text-primary">Register Now</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

