{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Store Order Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/components/build/static/css/main.c7bd1410.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Banner -->
        <div class="row bg-gray-800">
            <div class="col-4 d-flex justify-content-start align-items-center" style="width: 40%;">
                <div class="btn bg-gray-200 text-white rounded-full text-6xl">
                    {{ store.name }}
                </div>
            </div>
            <div class="col d-flex justify-content-start align-items-center pl-3 mt-4">
                <img src="{{ url_for('static', filename='images/orderpicker.svg') }}" alt="Your Image Description" class="img-fluid">
            </div>
        </div>

        <div id="root"></div>

        <!-- Footer and Complete Order Button -->
        <div class="bg-gray-800 p-4">
            <div class="text-center mb-2">
                <button class="btn btn-danger btn-lg w-full">整單完成</button>
            </div>
            <div class="text-white text-center">
                ©️ 2024 2c04 & Co. IMS All Right Preserved.
            </div>
        </div>
    </div>
    <script>
        window.storeName = "{{ store.name }}";
        window.user_id = "{{ user_id }}";
    </script>
    <script src="{{url_for('static', filename='js/components/build/static/js/main.f0d38c9d.js') }}"></script>
{% endblock %}
